body {
    font-family: sans-serif, Arial, Helvetica;
    background-color: #93bdc2;
    color: #01579b;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #0277bd;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    width: 10px;
}

header nav a:hover{
    text-decoration: underline;
    width: 20px;
}

.product-card, .review-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 15px;
    background-color: #b5f6ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.product-card:hover, .review-card:hover {
    transform: scale(1.02);
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(autofit, minmax(250px, 1fr));
    gap: 15px;
    padding: 10px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #0288d1;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

form button:hover {
    background-color: #0277bf;
}

.product-button {
    background-color: #0288d1;
    color: white;
}

.product-button:hover {
    background-color: #066497;
}

@media (max-width: 600px) {
    nav a{
        display: block;
        margin: 5px 0;
    }
}